<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>自动生成简介</title>
    <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Home/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Home/css/zyzn_1.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/City_data.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/areadata.js"></script>
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/calendar.css">
    <style type="text/css">
        html {
            font: 500 14px 'roboto';
            color: #333;
            background-color: #fafafa;
        }

        a {
            text-decoration: none;
        }

        ul, ol, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #demo {
            width: 300px;
            margin: 150px auto;
        }

        p {
            margin: 0;
        }

        #dt {
            margin: 30px auto;
            height: 28px;
            width: 200px;
            padding: 0 6px;
            border: 1px solid #ccc;
            outline: none;
        }
    </style>
</head>
<div class="top_hw clearfix">
    <div class="top_h clearfix">
        <div class="top_hl"><span>欢迎来到中国梦想游，让你的梦想全程免费自由行！</span> 预定热线：<b>0571-63322269</b></div>
        <div class="top_hr"><a href="会员注册.html">会员注册</a> | <a href="会员登录.html">登录</a> | <a href="#">梦想收藏</a> | <a
                href="#">设为首页</a></div>
    </div>
</div>
<div class="head_w">
    <div class="head_t clearfix">
        <div class="logo"><img src="__PUBLIC__/Home/images/logo.jpg"></div>
        <div class="rx_line"><img src="__PUBLIC__/Home/images/rx.jpg"></div>
    </div>
</div>
<div class="mainNav clearfix">
    <ul class="Nav_ul">
        <li><a href="中国梦想游首页.html">首页</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="旅游路线.html">旅游路线</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="旅游景点.html">旅游景点</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="餐饮住宿.html">餐饮住宿</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="交通路线-详情1.html">交通线路</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="旅游团购.html">旅游团购</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="地方特产.html">地方特产</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li class="cur"><a href="自动生成简介.html">自动生成简介</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="团队简介-关于中国梦想游.html">团队简介</a><img src="__PUBLIC__/Home/images/nav_line.jpg"></li>
        <li><a href="行程导航-详情.html">行程导航</a></li>
    </ul>
</div>
<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a href="中国梦想游首页.html">首页</a> >> <a href="#">行程导航</a> >> <a
            href="#">产品详情</a></div>
    <div class="clumn_w clearfix">
        <div class="clumn_l">
            <div class="clumn">
                <div class="clumn_tit t01">国内热门景点</div>
                <div class="clumn_con">
                    <div class="cln_w">
                        <p>热门城市</p>
                        <div class="cln_c clearfix">
                            <a href="#">北京</a>
                            <a href="#">上海</a>
                            <a href="#">厦门</a>
                            <a href="#">成都</a>
                            <a href="#">西安</a>
                            <a href="#">黄山</a>
                            <a href="#">香港</a>
                            <a href="#">青岛</a>
                            <a href="#">桂林</a>
                            <a href="#">深圳</a>
                            <a href="#">三亚</a>
                            <a href="#">杭州</a>
                            <a href="#">丽江</a>
                            <a href="#">南京</a>
                            <a href="#">重庆</a>
                            <a href="#">苏州</a>
                            <a href="#">张家界</a>
                        </div>
                    </div>
                    <div class="cln_w">
                        <p>景点认证</p>
                        <div class="cln_c clearfix">
                            <a href="#">5A级</a>
                            <a href="#">4A级</a>
                            <a href="#">3A级</a>
                            <a href="#">2A级</a>
                        </div>
                    </div>
                    <div class="cln_w">
                        <p>热门主题</p>
                        <div class="cln_c clearfix">
                            <a href="#">温泉</a>
                            <a href="#">古镇</a>
                            <a href="#">摄影</a>
                            <a href="#">滑雪</a>
                            <a href="#">海边</a>
                            <a href="#">美食</a>
                            <a href="#">登山</a>
                            <a href="#">主题公园</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clumn_r01">
            <div class="fzd">
                <div class="fzd_top">自动生成简介</div>
                <div class="fzd_m">
                    <div class="fxc1">填写信息&nbsp;<span class="fzdspan1">为方便我们为您提供服务，带有<a href="#"> * </a>字段为必填字段。</span>
                    </div>
                    <form action="{:U('add')}" method="post">
                        <div class="fxc2">
                            <table border="0" cellpadding="0" cellspacing="0" width="670">
                                <tr>
                                    <td width="70" align="right" height="50">
                                        <span class="fzdspan1"><a href="#">*</a></span>游玩类型：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        <input type="radio" name="nature" value="公务考察">公务考察&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="nature" value="商务会所">商务会所&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="nature" value="观光型">观光型&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="nature" value="团队拓展">团队拓展&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="nature" value="温泉游">温泉游&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="nature" value="其它">其它
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">
                                        <span class="fzdspan1"><a href="#">*</a></span>出发地：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        <input type="text" name="tart_point" class="" value="" data-value="" onclick="appendCity(this,'danxuan')"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">
                                        <span class="fzdspan1"><a href="#">*</a></span>目的地：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        <input type="text" class="" value="" data-value="" name="destination" onclick="appendCity(this,'duoxuan')"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">
                                        <span class="fzdspan1"><a href="#">*</a></span>出发日期：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        <input type="text" id="dt" name="go_date" placeholder="trigger calendar">
                                        <div id="dd"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">
                                        <span class="fzdspan1"><a href="#">*</a></span>游玩天数：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        <input type="text" name="" class="finput4">&nbsp;&nbsp;&nbsp;天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="" value="是">&nbsp;&nbsp;&nbsp;可适当增减天数
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50"><span class="fzdspan1"><a href="#">*</a></span>出游人数：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        成人&nbsp;<input type="text" class="finput4" name="play_adult">&nbsp;人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        儿童&nbsp;<input type="text" class="finput4" name="play_child">&nbsp;人
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">
                                        <span class="fzdspan1"><a href="#">*</a></span>出游预算：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        <input type="text" class="finput4" name="play_budget">&nbsp;元/人
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" align="right" height="50" style="vertical-align: top;">
                                        <span class="fzdspan1"><a href="#">*</a></span>几位定制师提供方案：
                                    </td>
                                    <td width="600" align="left" height="50">
                                        <input type="radio" name="custom_divisions" value="1">&nbsp;一位&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="custom_divisions" value="2">&nbsp;两位&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="custom_divisions" value="3">&nbsp;三位
                                        <br><span style="height: 0px; font-size: 10px; color: #ff6600">您可以选择多位来自不同旅行社的定制师为您提供方案和报价,选择最满意的一位为您服务。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">需要提供什么：</td>
                                    <td width="600" align="left" height="80">
                                        <input type="checkbox" name="provide_service[]" value="线路">线路&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="provide_service[]" value="机票">机票&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="provide_service[]" value="用车">用车&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="provide_service[]" value="导游">导游&nbsp;&nbsp;&nbsp; <br>
                                        <input type="checkbox" name="provide_service[]" value="酒店">酒店&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="provide_service[]" value="签证">签证&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="provide_service[]" value="门票">门票&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="provide_service[]" value="用餐">用餐
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">酒店星级：</td>
                                    <td width="600" align="left" height="50">
                                        <input type="checkbox" name="hotel_criteria[]" value="三星级">三星级/舒适&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="hotel_criteria[]" value="四星级">四星级/高档&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="hotel_criteria[]" value="五星级">五星级/豪华&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="hotel_criteria[]" value="连锁">连锁&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="hotel_criteria[]" value="特色客栈">特色客栈&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="hotel_criteria[]" value="不限">不限
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50">用餐要求：</td>
                                    <td width="600" align="left" height="50">
                                        <input type="checkbox" name="dine_criteria[]" value="当地特色">当地特色&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="dine_criteria[]" value="定制师推荐">定制师推荐&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="dine_criteria[]" value="自理">自理
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" align="right" height="50" style="vertical-align: top;">其他需求：</td>
                                    <td width="600" align="left" height="180">
                                        <textarea name="comments" maxlength="500" style="margin: 0px; height: 160px; width: 380px;" placeholder="选填，请输入其他需求，如：希望定制师何时联系您，房间数，导游要求等"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="fxc1">联系人信息</div>
                        <div class="fxc2">
                            <table border="0" cellpadding="0" cellspacing="0" width="670">
                                <tr>
                                    <td width="70" height="50" align="right">
                                        <span class="fzdspan1"><a href="#">*</a></span>姓名：
                                    </td>
                                    <td width="600" height="50" align="left">
                                        <input type="text" name="contact_name" class="finput3">&nbsp;&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" height="50" align="right">
                                        <span class="fzdspan1"><a href="#">*</a></span>联系电话：
                                    </td>
                                    <td width="600" height="50" align="left">
                                        <input type="text" name="contact_telphone" class="finput3">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" height="50" align="right">
                                        <span class="fzdspan1"><a href="#">*</a></span>电子邮箱：
                                    </td>
                                    <td width="600" height="50" align="left">
                                        <input type="text" name="contact_email" class="finput3">&nbsp;&nbsp;
                                        <span class="fxcspan2">请认真填写您的常用邮箱，以便我们为您提供服务</span></td>
                                </tr>
                                <tr>
                                    <td width="70" height="50" align="right">微信：</td>
                                    <td width="600" height="50" align="left">
                                        <input type="text" name="contact_wechat" class="finput3">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="70" height="50" align="right">验证码：</td>
                                    <td width="600" height="50" align="left">
                                        <input type="text" class="finput4">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" height="50">
                                        <input type="image" src="__PUBLIC__/Home/images/fxcbtn2.png">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br style="clear:both">
    </div>
</div>
</div>
</div>
<div class="friend_w clearfix">
    <div class="friend clearfix">
        <dl class="friend_dl bg01">
            <dt><b>网站使用流程</b></dt>
            <dd><a href="#">网站使用流程</a></dd>
            <dd><a href="#">网站预定流程</a></dd>
            <dd><a href="#">会员注册流程</a></dd>
            <dd><a href="#">网站支付流程</a></dd>
        </dl>
        <dl class="friend_dl bg02">
            <dt><b>会员中心</b></dt>
            <dd><a href="#">会员注册/登录</a></dd>
            <dd><a href="#">帮助中心</a></dd>
            <dd><a href="#">积分中心</a></dd>
            <dd><a href="#">支付中心</a></dd>
        </dl>
        <dl class="friend_dl bg03">
            <dt><b>公司简介</b></dt>
            <dd><a href="#">关于梦想游</a></dd>
            <dd><a href="#">加入梦想游</a></dd>
            <dd><a href="#">公司动态</a></dd>
            <dd><a href="#">网站地图</a></dd>
        </dl>
        <dl class="friend_dl bg04">
            <dt><b>合作伙伴</b></dt>
            <dd><a href="#">加盟合作</a></dd>
            <dd><a href="#">广告合作</a></dd>
            <dd><a href="#">运营合作</a></dd>
            <dd><a href="#">友情链接</a></dd>
        </dl>
        <dl class="friend_dl bg05">
            <dt><b>旅游查询</b></dt>
            <dd><a href="#">天气预报</a></dd>
            <dd><a href="#">火车查询</a></dd>
            <dd><a href="#">电子地图</a></dd>
            <dd><a href="#">航班时刻</a></dd>
        </dl>
        <br style="clear:both">
    </div>
</div>
<div class="footer_w">
    <div class="footer clearfix">
        <div class="footer_c">
            <p>地址：中国浙江省杭州市西湖区教工路316号 &nbsp;| &nbsp;服务热线：0571-62332269 &nbsp; | &nbsp;传真：0571-62337233
                备案号：0453-2xxxxxx</p>
            <p>Copyright © 2013 中国梦想旅游发展有限公司 All Rights Reserved. 技术支持：<a href="#">杭州风靡网络</a></p>
        </div>
        <div class="f_logo"><img src="__PUBLIC__/Home/images/b_logo.jpg"></div>
        <br style="clear:both">
    </div>
</div>
<script src="__PUBLIC__/Home/js/jquery.js"></script>
<script src="__PUBLIC__/Home/js/calendar.js"></script>
<script>
    $('#dd').calendar({
        trigger: '#dt',
        zIndex: 999,
        format: 'yyyy-mm-dd',
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
        }
    });
</script>
</body>
</html>
